{{!-- Layout --}}
{{!< default}}
<style>
    .header-center a {
        display: none;
    }
</style>

{{!-- Last 5 featured articles slider - ./partials/home/featured-slider.hbs --}}
{{#match @custom.publication_cover "Featured Slider"}}{{> "home/featured-slider-zh"}}{{/match}}

<div class="site-post container mx-auto py-vmin8">
    <div class="js-feed-entry max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {{#get "posts" filter="tags:hash-zh"}}
        {{#foreach posts}}
            {{> "story/story-grid-lite" story_class="ss1 grid lg:col-span-full lg:grid-cols-12 gap-12"}}
        {{/foreach}}
    {{/get}}
    </div>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>